@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Use the search link at the top of the page to search for specific Bible verses!
    </p>
    <br />
    <div class="card">
        <div class="card-header">
            Verse of the Day
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>
                    Grace to you and peace from God our Father and the Lord Jesus Christ.
                </p>
                <footer class="blockquote-footer">2 Corinthians 1:2</footer>
            </blockquote>
        </div>
    </div>
</div>
