@model BibleBenchmarkApplication.Models.SearchTerm

@{
    ViewData["Title"] = "Search";
    String[] testament = { "Old", "New", "Both"};
}

<h1>Search</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Result">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Testament" class="control-label"></label>

                @foreach (var type in testament)
                {
                    <div class="form-check">
                        <input type="radio" asp-for="Testament" value="@type" id="Type@(type)" />@type<br />
                    </div>
                }

                <span asp-validation-for="Testament" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookNum" class="control-label"></label>

                <select asp-for="BookNum" class="form-select" aria-label="Default select example">
                    <option value="1" selected>Genesis</option>
                    <option value="2">Exodus</option>
                    <option value="3">Leviticus</option>
                    <option value="4">Numbers</option>
                    <option value="5">Deuteronomy</option>
                    <option value="6">Joshua</option>
                    <option value="7">Judges</option>
                    <option value="8">Ruth</option>
                    <option value="9">1 Samuel</option>
                    <option value="10">2 Samuel</option>
                    <option value="11">1 Kings</option>
                    <option value="12">2 Kings</option>
                    <option value="13">1 Chronicles</option>
                    <option value="14">2 Chronicles</option>
                    <option value="15">Ezra</option>
                    <option value="16">Nehemiah</option>
                    <option value="17">Esther</option>
                    <option value="18">Job</option>
                    <option value="19">Psalms</option>
                    <option value="20">Proverbs</option>
                    <option value="21">Ecclesiastes</option>
                    <option value="22">Song of Solomon</option>
                    <option value="23">Isaiah</option>
                    <option value="24">Jeremiah</option>
                    <option value="25">Lamentations</option>
                    <option value="26">Ezekiel</option>
                    <option value="27">Daniel</option>
                    <option value="28">Hosea</option>
                    <option value="29">Joel</option>
                    <option value="30">Amos</option>
                    <option value="31">Obadiah</option>
                    <option value="32">Jonah</option>
                    <option value="33">Micah</option>
                    <option value="34">Nahum</option>
                    <option value="35">Habakkuk</option>
                    <option value="36">Zephaniah</option>
                    <option value="37">Haggai</option>
                    <option value="38">Zechariah</option>
                    <option value="39">Malachi</option>
                    <option value="40">Matthew</option>
                    <option value="41">Mark</option>
                    <option value="42">Luke</option>
                    <option value="43">John</option>
                    <option value="44">Acts</option>
                    <option value="45">Romans</option>
                    <option value="46">1 Corinthians</option>
                    <option value="47">2 Corinthians</option>
                    <option value="48">Galatians</option>
                    <option value="49">Ephesians</option>
                    <option value="50">Philippians</option>
                    <option value="51">Colossians</option>
                    <option value="52">1 Thessalonians</option>
                    <option value="53">2 Thessalonians</option>
                    <option value="54">1 Timothy</option>
                    <option value="55">2 Timothy</option>
                    <option value="56">Titus</option>
                    <option value="57">Philemon</option>
                    <option value="58">Hebrews</option>
                    <option value="59">James</option>
                    <option value="60">1 Peter</option>
                    <option value="61">2 Peter</option>
                    <option value="62">1 John</option>
                    <option value="63">2 John</option>
                    <option value="64">3 John</option>
                    <option value="65">Jude</option>
                    <option value="66">Revelation</option>
                </select>

                <span asp-validation-for="BookNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChapterNum" class="control-label"></label>
                <asp:CompareValidator runat="server" Operator="DataTypeCheck" Type="Integer"
                                      ControlToValidate="ValueTextBox" ErrorMessage="Value must be a whole number" />
                <input asp-for="ChapterNum" class="form-control" />
                <span asp-validation-for="ChapterNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VerseNum" class="control-label"></label>
                <asp:CompareValidator runat="server" Operator="DataTypeCheck" Type="Integer"
                                      ControlToValidate="ValueTextBox" ErrorMessage="Value must be a whole number" />
                <input asp-for="VerseNum" class="form-control" />
                <span asp-validation-for="VerseNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
